---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Blog";

const sortedPosts = allPosts
  .filter((post) => !post.frontmatter.tags.includes("draft"))
  .sort(
    (a, b) =>
      new Date(b.frontmatter.pubDate).getTime() -
      new Date(a.frontmatter.pubDate).getTime(),
  );
---

<BaseLayout pageTitle={pageTitle}>
  <div class="grid">
    <div>
      <h2>All Posts</h2>
      <form role="search" action="/search" method="get">
        <input type="search" name="q" aria-label="Search blog posts" />
        <button type="submit">Search</button>
      </form>
      <ul role="list" class="post-list">
        {
          sortedPosts.map((post) => (
            <BlogPost
              url={post.url}
              title={post.frontmatter.title}
              description={post.frontmatter.description}
              pubDate={post.frontmatter.pubDate}
            />
          ))
        }
      </ul>
    </div>

    <div role="complementary">
      <h2>Tags</h2>
      <ul role="list">
        {
          Array.from(new Set(allPosts.flatMap((post) => post.frontmatter.tags)))
            .filter((tag) => tag !== "draft")
            .map((tag) => (
              <li>
                <a href={`/tags/${tag}`}>{tag}</a>
              </li>
            ))
        }
      </ul>
    </div>
  </div>

  <style>
    .grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;
    }

    @media (min-width: 768px) {
      .grid {
        grid-template-columns: 2fr 1fr;
      }
    }
  </style>
</BaseLayout>
