---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const pageTitle = "Home";

const allPosts = await Astro.glob("../pages/posts/*.md");
const sortedPosts = allPosts
  .filter((post) => !post.frontmatter.tags?.includes("draft"))
  .sort(
    (a, b) =>
      new Date(b.frontmatter.pubDate).getTime() -
      new Date(a.frontmatter.pubDate).getTime(),
  );
const recentPosts = sortedPosts.slice(0, 3);
---

<BaseLayout pageTitle={pageTitle}>
  <article>
    <h1>Welcome! <span role="img" aria-label="waving hand emoji">👋</span></h1>
    <p>
      I'm Martin Berrisford, a digital accessibility and assistive technology
      specialist based in the Toronto (Canada) area. Here is where I share my
      insights on digital accessibility, assistive technology, development and
      various other topics that captivate my interest. <a href="/about"
        >More about me.</a
      >
    </p>
  </article>
  <h2>Most Recent Posts</h2>
  <ul role="list" class="post-list">
    {
      recentPosts.map((post) => (
        <BlogPost
          url={post.url}
          title={post.frontmatter.title}
          pubDate={post.frontmatter.pubDate}
          description={post.frontmatter.description}
          pubDate={post.frontmatter.pubDate}
        />
      ))
    }
  </ul>
</BaseLayout>
